body{
    background-color: #fff;
}

/* KEEP CURRENT FANSITE OPEN IN BURGER MENU */
#fansite1 :is(.fansite_list){
    display:flex;
}
#fansite1 :is(.open, .close){
    visibility: hidden;
}
#fansite_label1, #fansite_label1 :is(div, h3, img){
    cursor:default;
}

li a:hover{
    color: red;
}

h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

h1 a{
    text-decoration: none;
    color: #000; 
    transition: all 0.3s ease;
}


header h1 a:hover {
    color: rgb(235, 11, 11);
    text-decoration: none;
}

.interface-home_xl, .interface-home{
    border-radius: 0;
    box-shadow: 0 0 0;
}

.bio{
    background-image: url(../fansite1_a/images_a/Z6KFPZV2N5G5TKP4AGZISHPKL4.avif);
}

.event-image_header{
    overflow: hidden;
}


@media only screen and (max-width:400px){
    #title{
        visibility: hidden;
    }
}