/* MOBILE FIRST */

*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
*:visited{
    color:unset;
}
*:not(:visited){
    color:unset;
}

html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}


#index_body{
    background-color: #0f0f0f;
}
#title{
    margin: 0 auto;
    padding: 32px 0 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:400px;
}
#title a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: calc(14px + 2vw);
    font-weight: 500;
    vertical-align: middle;
}
#burger_title{
    display:none;
    color: #000;
    font-family: "Rubik", sans-serif;
    font-size: calc(14px + 2vw);
    font-weight: 500;
    line-height:54px;
    vertical-align: middle;
}
#index_header>h2{
    color: #ffffff;
    width: 100%;
    display: flex;
    letter-spacing: calc(4px + 2vw);
    text-indent: calc(4px + 2vw);
    justify-content: center;
    font-size: 14px;
}
#index_header{
    padding: 0 20px 5px;
    background-color: #0f0f0f;
    width:100%;
    display:flex;
    flex-flow: wrap row-reverse;
    justify-content: space-between;
    align-items: center;
}
#index_header{
    z-index: 10;
}
#menu-burger{
    position:absolute;
}
#menu-burger>label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 100;
}
#menu-burger>label div{
    background-color: #ffffff;
    height: 5px;
    width: 48px;
}
.header_list{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.menu-burger_list{
    overflow: hidden;
    visibility:hidden;
    position: absolute;
    width: 100vw;
    top: 103px; right:-21px;
    gap:2px;

    list-style:none; padding:0;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: #fff;
    box-shadow: 0 100px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.burger_list_element{
    display: flex;
    flex-direction: column; align-items: center;
    width:100%;

    text-decoration: none;
    font-size: 100%;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(190, 190, 190, 0.3);
}
.fansite_list_header{
    width:100%;
}
.fansite_list_header h3{
    font-size: inherit;
}
.fansite_label{
    flex-direction: row;
    justify-content: space-between;
}
.fansite_label :is(img, div){
    margin-right: 16px;
    width:20px;
    justify-content: flex-end;
}
.close{transform:scaleY(-100%)
}
.fansite_list li{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.fansite_list a{
    line-height: 42px;
    font-weight:lighter;
}
#check1, #fansite1 :is(.close, .fansite_list){
    display:none;
}
#check1:checked ~ #fansite1 :is(.close, .fansite_list){
    display:flex;
}
#check1:checked ~ #fansite1 :is(.open){
    display:none;
}

#check2, #fansite2 :is(.close, .fansite_list){
    display:none;
}
#check2:checked ~ #fansite2 :is(.close, .fansite_list){
    display:flex;
}
#check2:checked ~ #fansite2 :is(.open){
    display:none;
}

#check3, #fansite3 :is(.close, .fansite_list){
    display:none;
}
#check3:checked ~ #fansite3 :is(.close, .fansite_list){
    display:flex;
}
#check3:checked ~ #fansite3 :is(.open){
    display:none;
}

#selectburger{
    display:none;
}
#selectburger:checked ~ nav .menu-burger_list{
    opacity: 1;
    visibility: visible;
}
#selectburger:not(:checked) ~ nav .menu-burger_list{
    opacity: 0;
    visibility: hidden;
}


/* IMAGE MENU */
#index_main{
    padding: 0;
}
.image-menu{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.image-menu input{
        display:none;
}
.image-menu figure{
    flex:1;
    margin: 15px 0;
    border-radius: 8px;
    transition: all 2s ease, border 3s ease, flex 1.5s;
    position: relative;
    overflow: hidden;
}
.image-menu figure a{
    width:100%;
    height:100%;
    position: absolute;
    visibility: hidden;
    opacity:0;
    transition: opacity 1s ease;

    background-color: rgba(255, 255, 255, 0.8);

    display:flex;
    flex-flow: nowrap column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.links_text{
    width:80%;
    transition: opacity 0s linear;
}
.image-menu figure h3{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    transform: scaleY(1.1);
    letter-spacing: 0.4em;
    font-size: calc(12px + 2.1vw);
    text-decoration-style:none;
    opacity: 0;
    text-align: justify;
    color:rgba(48, 48, 48, 0.8);
    text-shadow: 2px 2px 2px #ffffff99;
}
.image-menu figure p{
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    font-size: calc(8px + 2.1vw);
    opacity: 0;
    text-align: justify;
    color:rgba(106, 106, 106);
    text-shadow: 1px 1px 1px #0f0f0f62;
}
.image-menu figure adress{
    margin-top: 1em;
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: calc(9px + 2.1vw);
    opacity: 0;
    text-align: center;
    color:rgba(106, 106, 106);
}

.image-menu figure label img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: top;
    transition:all 1.5s ease;
}

/* INDEX FOOTER */
#index_footer{
    padding-top: 78px;
    background-color: #0f0f0f;
}
#index_footer hr{
    background-color: #999;
    border: 0;
    height: 2px
}
#index_footer nav{
    padding-top:48px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:18px;
    width:100%;
}
#index_footer nav div{
    width:90%;
}
#index_footer a{
    color: #999;
    font-size: calc(13px + 1vw);
    font-family: "Rubik", sans-serif;
    vertical-align: middle;
}
#index_footer :is(h2,h3){
    color:#ffffff;
    margin-bottom: 22px;
    text-align: center;

}
#index_footer h2{
    font-size: calc(28px + 1vw);
}
#index_footer h3{
    font-size: calc(16px + 1vw);
}
#index_footer ul{
    width:100%;
    padding-left: 20%;
    list-style: none;
}
#index_footer li{
    margin-bottom: 24px;
}
#index_footer li::before{
    content: "🧠 ";
    font-size: 9x;
}

#index_footer adress{
    width: 100%;
    padding: 6px 0;
    color:#fff;
    font-size: calc(9px + 1vw);
    line-height: 24px;;
    vertical-align: middle;
    background-color: #000;
}

@media only screen and (max-width:300px){
    #title{
        display:none;
    }
    #burger_title{
        display:block
    }
    #index_header h2{
        padding-top:94px;
    }
    #menu-burger>label{
        gap:12px;
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 100;
    }
    #menu-burger>label>div{
        background-color: #ffffff;
        height: 5px;
        width: 48px;
    }
    .fansite_label :is(img, div){
        margin-right: 11px;
    }
}

@media only screen and (max-width:992px){
    /* ANIMATIONS LIEES A LA SELECTION DU PROJET 1 */
    #select1:checked ~ #figure1{
        flex:3;
        box-shadow: 0 -3px 12px #fff, 0 3px 12px #fff;
    }
    #select1:checked ~ #figure1 a{
        transition: opacity 2s ease;
        visibility:visible;
        opacity:1;
        backdrop-filter: blur(4px);
    }
    #select1:checked ~ #figure1 a .links_text{opacity:1; transition-duration: 1.1s;}
    #select1:checked ~ #figure1 a h3{transition-delay: 1.1s;}
    #select1:checked ~ #figure1 a p{transition-delay: 2s;}
    #select1:checked ~ #figure1 a adress{transition-delay: 4.5s;}

    #select2:checked ~ #figure2{
        flex:3;
        box-shadow: 0 -3px 12px #fff, 0 3px 12px #fff;
    }
    #select2:checked ~ #figure2 a{
        transition: opacity 2s ease;
        visibility:visible;
        opacity:1;
        backdrop-filter: blur(4px);
    }
    #select2:checked ~ #figure2 a .links_text{opacity:1; transition-duration: 1.1s;}
    #select2:checked ~ #figure2 a h3{transition-delay: 1.1s;}
    #select2:checked ~ #figure2 a p{transition-delay: 2s;}
    #select2:checked ~ #figure2 a adress{transition-delay: 4.5s;}

    #select3:checked ~ #figure3{
        flex:3;
        box-shadow: 0 -3px 12px #fff, 0 3px 12px #fff;
    }
    #select3:checked ~ #figure3 a{
        transition: opacity 2s ease;
        visibility:visible;
        opacity:1;
        backdrop-filter: blur(4px);
    }
    #select3:checked ~ #figure3 a .links_text{opacity:1; transition-duration: 1.1s;}
    #select3:checked ~ #figure3 a h3{transition-delay: 1.1s;}
    #select3:checked ~ #figure3 a p{transition-delay: 2s;}
    #select3:checked ~ #figure3 a adress{transition-delay: 4.5s;}
}

/* TABLET DISPLAY + 620px */
@media only screen and (min-width:620px){
    #index_header{flex-direction: row;}
    #index_header #title a{
        font-size: 32px;
    }
    .menu-burger_list{
        width: 350px;
        top: 65px; left:7px;
        border-radius: 15px;
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    }
    .fansite_label :is(img, div){
        margin-right: 17px;
    }
}

/* DESKTOP DISPLAY 992px */
@media only screen and (min-width:992px){
    #index_header{flex-direction: row;}
    #index_header #title a{font-size: 38px;}
    #index_header nav label{cursor: pointer;}

    #index_main{
        display:flex;
        justify-content: center;
    }
    .image-menu{
        margin-top:45px;
        width:98%;
        height: 70vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .image-menu_figure{
        border-radius: 16px;
        height:65vh;
        margin: 0 0;
        flex:1;
        box-shadow: inset 4px 3px 8px #0f0f0f;
    }
    .image-menu figure a h3{
        letter-spacing: 0.35em;
        font-size: 36px;
    }
    .image-menu figure a p{
        height:280px;
        font-size: 20px;
    }
    .image-menu figure a adress{
        margin-top: 1.5em;
        font-size: 18px;
    }
    .image-menu_figure:hover{
        border: 9px solid #0f0f0f;
        border-top: 12px;
        border-bottom: 12px;
        flex:4;
        height:75vh;
        border-radius: 54px;
    }
    .image-menu_figure:hover a{
        transition: opacity 2s ease;
        visibility:visible;
        opacity:1;
        backdrop-filter: blur(4px);
    }
    .image-menu_figure:hover a .links_text{
        transition-duration: 1.1s;
        opacity:1
    }
    .image-menu_figure:hover a h3{transition-delay: 1.4s;
        transition-timing-function:cubic-bezier(.13,0.15,.2,1.2)}
    .image-menu_figure:hover a p{transition-delay: 2.4s;}
    .image-menu_figure:hover a adress{transition-delay: 4s;}
    .image-menu_figure:hover label img{
        transition-timing-function:cubic-bezier(.13,-0.15,.18,1.2);
        transition-duration: 12s;
        height:150%;
    }
    .image-menu:hover>.image-menu_figure:not(:hover){
        border: 3px solid #0f0f0f;
        border-radius: 20px;
        height:55vh;
    }
    #img1{
        object-position: top left;
    }
    #img3{
        object-position: top right;
    }

    #index_footer nav{
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 230px;
    }
    #index_footer ul{
        padding-left: 4vw;
    }
    #index_footer a{
        font-size: 18px;
    }
    #index_footer :is(h2,h3){
        line-height: 32px;
        vertical-align: middle;
    }
    #index_footer h2{
        text-align: left;
        padding-left: 20%;
        font-size: 32px;
    }
    #index_footer h3{
        font-size: 24px;
    }
    #index_footer adress{
        font-size:14px;
    }
}